:root {
  --accent-color: #2196f3;
  --main-color: #757575;
  --dark-color: #212121;
  --white-color: #fff;
  --hero-footer-color: #2f303a;
  --project-border-color: #eeeeee;
  --grey-bg-color: #f5f4fa;
  --header-border: #ececec;
  --btn-order-bg: #188ce8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: var(--white-color);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-list {
  display: flex;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--dark-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-span {
  color: var(--accent-color);
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--dark-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.contact-link + .contact-link {
  margin-left: 50px;
}

.nav-link.action-link {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.contact {
  margin-left: auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  background-color: var(--hero-footer-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.btn-order {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
}

.btn-order:hover,
.btn-order:focus {
  background-color: var(--btn-order-bg);
}

.feature-list {
  display: flex;
}

.feature-list li:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 10px;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about-us-list {
  display: flex;
}

.about-us-list li:not(:last-child) {
  margin-right: 30px;
}

.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 50px;
}

.team {
  background-color: var(--grey-bg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 50px;
}

.card-item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 10px;
}

.staff-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* portfolio  */

.btn-filter {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  background-color: var(--grey-bg-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
}

.btn-filter:hover,
.btn-filter:focus,
.filter-item:hover,
.filter-item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-filter {
  margin-bottom: 50px;
}

.project-item {
  background-color: var(--white-color);
  border: 1px solid var(--project-border-color);
  box-sizing: border-box;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
  margin-bottom: 4px;
  margin-top: 20px;
}

.project-link {
  text-decoration: none;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 20px;
}
/* end portfolio  */
.footer {
  background-color: var(--hero-footer-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contact-link {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-link {
  color: var(--white-color);
  font-style: normal;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}
